# ────────────────────────────────
# 🗄️ Aiven PostgreSQL Database
# ────────────────────────────────
PGHOST=
PGPORT=
PGDATABASE=
PGUSER=
PGPASSWORD=
PGSSL=

PGSSL_CA_PATH=
#file vs text format
PGSSL_CA=

# ────────────────────────────────
# 🧠 AI Models / Embeddings
# ────────────────────────────────
HF_TOKEN=
AI_MODEL=
EMBED_URL=
EMBED_MODEL=

# ────────────────────────────────
# 🗺️ Map & Street View
# ────────────────────────────────
GOOGLE_EMBED_KEY=
FREE_GEO_KEY=
